.responsive-img {

  width: 100%;
  height: 448px;
  object-fit: cover;
  margin-top: 0%;
  position: relative;
  opacity: 0.7;

}

.rr {

  position: absolute;
  width: 824px;
  height: 300px;
  top: 300px;
  left: 300px;

  border-radius: 150px 0px 0px 150px;
  opacity: 0px;
  margin-left: 26%
}

.ll {
  position: absolute;
  z-index: 1;
  width: 730px;
  height: 296px;
  gap: 0px;
  border-radius: 0px 200px 200px 0px;
  opacity: 0px;
  background: #0000B3;

}

.mb {
  color: white;
  margin: 10%;
  font-family: inria serif;
  font-size: 50px;
  margin-left: 200px;
}

.ll p {
  color: white;

  margin-top: -8%;
  margin-left: 28%;
}

.jj {
  width: 100%;
  height: 439px;
  top: 767px;
  gap: 0px;
  opacity: 0.46px;

}

.text-overlay-container { position: relative; } /* Styling for the container with background image */ .hh, .ff, .gf, .tf { background: url('../Navbar/Picture/laptop1.PNG'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; height: 439px; padding-top: 50px; padding-left: 70px; position: relative; } /* Semi-transparent overlay */ .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); /* Adjust the color and opacity as needed */ z-index: 1; } .hh h1, .hh p, .ff h1, .ff p, .gf h1, .gf p, .tf h1, .tf p { position: relative; z-index: 2; } .er { font-size: 32px; text-align: justify; padding-left: 5%; padding-right: 5%; padding-top: -40%; color: black;
}

.ff {

  background: url('../Navbar/Picture/text1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}

.gf {

  background: url('../Navbar/Picture/social1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}

.tf {

  background: url('../Navbar/Picture/color1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}


@media (max-width: 768px) {
  .responsive-img {
    height: auto;
    max-height: 448px;
  }
}