

.qm {
  background-image: url('../Navbar/Picture/serveimg1.png');
  background-size: cover;

  width: 824px;
  height: 300px;
 


  border-radius: 150px 0px 0px 150px;
  opacity: 0px;
  margin-left: 46.9%;
  margin-top: -3%;
  z-index: -5;
} 

.text-overlay-container {
  position: relative;
}


.hh,
.ff,
.gf,
.tf {
  background: url('../Navbar/Picture/laptop1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  z-index: 1;
}

.hh h1,
.hh p,
.ff h1,
.ff p,
.gf h1,
.gf p,
.tf h1,
.tf p {
  position: relative;
  z-index: 2;
}

.er {
  font-size: 32px;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: -40%;
  color: black;
}

.ff {

  background: url('../Navbar/Picture/text1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}

.gf {

  background: url('../Navbar/Picture/social1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}

.tf {

  background: url('../Navbar/Picture/color1.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 439px;
  padding-top: 50px;
  padding-left: 70px;
  position: relative;
}


@media (max-width: 768px) {
  .responsive-img {
    height: auto;
    max-height: 448px;
  }
}


.ss {
  padding: 50px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-family: inria serif;
}

.ss:hover {
  background: #014CA6;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .ss {
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .ss {
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
  }
}

.back{
  background-image: url('../Navbar/Picture/serveimg.png');
  background-size: cover;
  
  height: 550px;  
  width: 100vw;   
  margin: 0;      
  padding: 0;     
  overflow: hidden;
}

.lfg{
  width: 666px;
  height: 296px;
 
  border-radius: 0px 200px 200px 0px;
 
  background: #0000B3;
 z-index: -1;
}
.bbnh{
  color: white;

  font-family: inria serif;
  font-size: 50px;
  margin-left: 200px;
  
  /* z-index: 1; */
}
.asdd{
  margin-top: 15px;
  display: flex;
  padding-left: 70%;
  margin-top: 5px;
}
.oopt {
  padding: 50px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-family: inria serif;
}

.oopt:hover {
  background: #014CA6;
  border-radius: 6px;
}
